[Unit]
Description=OnchainRadarBot v2
After=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/OnchainRadarBot_v2
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/OnchainRadarBot_v2/.venv/bin/python /opt/OnchainRadarBot_v2/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
